<div class="container-body">
    <div class="title-wrap">
        <div class="title-desc">
            <span class="display-4 text-light">Make Resume Easy</span>
            <div class="display-5 text-deco">fill the form <br>
                select template and <br>
                download <br>
                Its that easy</div>
        </div>
    </div>
    <a hidden #navigate routerLink='/forms/details'></a>
    <div class="section-wrap" (click)="navigate.click()">
        <div class="section-container">
            <span>Get Started</span>
        </div>
    </div>
</div>